/* add btn  */
.addButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.addButton .material-symbols-outlined {
  margin-right: 10px;
  margin-left: 40px;
  font-size: 16px;
}
.addButton span {
  color: rgb(146, 146, 146);
}
