@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

:root {
  --white-color: #161616;
  /* --white-color: #fff; */
  /* --secondary-white-color: rgb(235, 235, 235); */
  --secondary-white-color: #353b49;
  /* --main-color: #a18aff; */
  --main-color: #272d39;
  /* --title-text-color: rgb(29, 29, 29); */
  --title-text-color: #dbdbdb;
  --shadow-color: #cccccc;
  --input-border-color: #a7a7a7;
}
body {
  background-color: #13171f;
}
#root {
  padding: 7px;
}
li {
  list-style: none;
}
ul {
  margin-left: 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100dvh - 20px);
}