/* header title  */
.category_header {
  display: flex;
  align-items: center;
  padding: 20px;
}
.calender_icon {
  margin-right: 20px;
}
.calender_icon .material-symbols-outlined {
  color: #a18aff;
}
