.listSectorWraper {
  padding: 10px;
  height: calc(100% - 112px);
  overflow-y: scroll;
}
.listSectorWraper::-webkit-scrollbar {
  width: 0;
}
li {
  background-color: var(--main-color);
  margin-bottom: 7px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
li p {
  width: 100%;
  font-size: 15px;
  padding: 2px 10px;
  transition: 0.3s ease-in-out;
  color: var(--title-text-color);
}
li:hover p {
  margin-left: 0;
}
li span.toggleIcon {
  font-size: 16px !important;
  padding: 12px 4px;
  background-color: rgb(53 59 73 / 38%);
  position: relative;
  z-index: 1;
  color: var(--title-text-color);
}
li span.toggleIcon::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background-color: rgba(53, 59, 73, 0.877);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
li:hover span.toggleIcon::after {
  width: 100%;
}
.Edit_Delete {
  display: flex;
  justify-content: space-between;
  margin-right: -80px;
  transition: 0.3s ease-in-out;
  padding: 3px;
}

.Edit_Delete span {
  font-weight: 500;
  color: var(--title-text-color);
  font-size: 20px;
  padding: 6.8px;
}
.show {
  margin-right: 0;
}
.edit {
  background-color: var(--secondary-white-color);
}
.delete {
  background-color: #b80b16;
}
.editingInputField {
  width: 97.8%;
  margin-right: 2px;
  padding: 10px 5px;
  outline: none;
  background-color: var(--main-color);
  color: var(--title-text-color);
  border: none;
  overflow: visible;
  border-radius: 5px;
}
form {
  width: 100%;
  height: 100%;
}
