.navigationWraper {
  width: 300px;
  height: calc(100dvh - 60px);
  background-color: #fff;
  border-radius: 7px;
  margin: 10px 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.hideNavBox {
  margin-left: -315px;
}
.showNavBox {
  margin-left: 0;
}
.navTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: rgb(235, 235, 235);
}
.navTitle h3 {
  color: rgb(29, 29, 29);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
}
.activeAction {
  width: 100%;
  height: 2px;
  background-color: rgb(194, 194, 194);
  position: relative;
}
.activeAction::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 100%;
  background-color: #a18aff;
  left: 0;
  top: 0;
}

.toggleSliderArrow {
  width: 30px;
  height: 50px;
  background-color: #9d87f7;
  position: absolute;
  top: 50%;
  right: -30px;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.toggleSliderArrow span {
  font-size: 35px;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.rotetIcon {
  transform: rotate(180deg);
}
