.singleTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-white-color);
  border-radius: 5px;
  font-size: 15px;
  color: var(--title-text-color);
  /* margin: 10px 0; */
}
.singleTask:active {
  opacity: 0.7;
  border: 1px solid #c2c2c275;
}
.taskcontrolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: var(--secondary-white-color); */
  background-color: #4f5769;
  border-bottom: 1px solid #c2c2c275;
  padding-left: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: grab;
  user-select: none;
}
.taskcontrolBar span {
  font-size: 18px;
  color: var(--title-text-color);
}
.dragingIconWraper {
  margin-top: 5px;
}
.dragingIconWraper span {
  transform: rotate(90deg);
}
.removeAndEditWraper span {
  padding: 8px 5px;
  cursor: pointer;
}
.notes {
  text-align: start;
  width: 100%;
}
.notes p {
  padding: 10px 10px;
  line-height: 24px;
  user-select: none;
}
.TaskEditor {
  padding: 5px;
}
.TaskEditor textarea {
  width: 100%;
  background-color: var(--main-color);
  outline: none;
  border: none;
  color: var(--title-text-color);
  height: 30px;
  resize: none;
  height: 80px;
  padding: 5px;
}
