/* task list  */
.task_list_area {
  background-color: #8d74f4;
  width: 550px;
  margin: auto;
  border-radius: 7px;
  padding: 20px;
  margin-top: 140px;
  height: calc(100vh - 200px);
  overflow-y: scroll;
}
.task_list_area::-webkit-scrollbar {
  width: 0;
}
.task_list_area ul li {
  list-style: none;
  margin-bottom: 10px;
}
.task_list_area ul li:last-child {
  margin-bottom: 0;
}
