.WraperListOperation {
  height: auto;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: calc(100% - 58px);
}
/* @media (max-width: 1024px) {
  .WraperListOperation {
    width: 100%;
  }
} */

.TaskList {
  border-radius: 5px;
  height: 100%;
}
.topTitle {
  padding: 12px 15px;
  display: flex;
  border-bottom: 2px solid #c2c2c275;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-white-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.topTitle h3 {
  font-size: 15px;
  margin-left: 08px;
  color: var(--title-text-color);
}

.topTitle span {
  color: var(--title-text-color);
  font-size: 22px;
}

.taskesWraper {
  height: calc(100vh - 87px);
  overflow-y: scroll;
  margin-top: 59px;
  transition: 0.3s linear;
}

.taskesWraper::-webkit-scrollbar {
  width: 0;
}

.taskesWraper {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.taskesWraper::-webkit-scrollbar {
  display: none; 
}

.taskAddInput {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
}

.focusNotePade {
  height: 90dvh;
}

.taskAddInput form {
  width: 100%;
  height: 100%;
  padding: 0 4px;
  margin: 0 auto;
}
.wraperAddTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--secondary-white-color);
  border: 2px solid #767981;
  border-radius: 7px;
  overflow: hidden;
}

.WraperInputArea {
  flex-direction: column;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.274);
}

.taskAddInput form div textarea {
  width: 100%;
  padding: 0px 10px;
  outline: none;
  background-color: transparent;
  border: none;
  color: var(--title-text-color);
  font-size: 16px;
  resize: none;
  margin-bottom: -11px;
  padding-top: 10px;
  padding-bottom: -15px;
}

.focusNotePade form div textarea {
  width: 100%;
  height: calc(80dvh - 59px);
  padding: 10px;
}
.inputField {
  width: 100%;
}
.actionButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  border-left: 1px solid #767981;
  color: var(--title-text-color);
  padding: 5px 15px;
  background-color: var(--main-color);
}

.actionBtn {
  width: 100%;
  border-top: 1px solid #767981;
  border-left: 0;
  height: calc(50px);
}

.addTaskBtn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
.addTaskBtn span {
  color: var(--title-text-color);
  font-size: 27px;
  margin-top: 5px;
  margin-right: 5px;
}
.selectedSection p {
  font-size: 15px;
}

/* .deleteSmallBox {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-white-color);
  transition: all 0.3s ease-in-out;
}
.deleteSmallBox span {
  font-size: 25px;
  color: var(--title-text-color);
  user-select: none;
  transition: all 0.3s ease-in-out;
}
.deleteSmallBox:hover {
  width: 150px;
  height: 150px;
}
.deleteSmallBox:hover span {
  font-size: 80px;
} */
